

<ul id="vertical">
    <li class="demoVertical">
        <a href="http://vbaw.vba.va.gov/" target="_blank">
            VBA Intranet Home
        </a>
        
    </li>
    <li class="demoVertical">
        <a href="~/">
            ED&amp;T Home
        </a>

    </li>
    <li class="demoVertical">
        <a href="~/Home/CBTS">
            VBA Competency-based Training
        </a>

    </li>



   <!-- <li class="demoVertical">
        <a href="#">VBA Evaluation Portal</a>
        
    </li>-->

    <li class="demoVertical">
        <a href="~/Home/TrainingResources">Training Resources
</a>
    </li>

    <li class="demoVertical">
        <a href="http://vaww.infoshare.va.gov/sites/EDT/Lists/VBA%20Training%20Calendar/VBA%20Training%20Calendar%20All.aspx" target="_blank">
            VBA Training Calendar
        </a>
    </li>

    <li class="demoVertical">
        <a href="~/Home/StaffListing">
            Staff Listing
        </a>
    </li>

    <li class="demoVertical">
        <a href="https://survey.htm.va.gov/Perseus/se.ashx?s=7FDA9EA73E3BD737" target="_blank">
            How are we doing?
        </a>
    </li>

    <li class="demoVertical">
        <a href="~/Home/Sitemap">Site Map
</a>
        
    </li>



    <li class="demoVertical">
        <a href="https://www.tms.va.gov/learning/user/login.jsp" target="_blank">
            VA Talent Management System <br /> (TMS)
        </a>
        
    </li>
    
</ul>


<!--<div style="width: 220px; color: #FFF; margin-top: 20px; text-align:center;">

    <p><strong>**BETA VERSION** Please complete the website review <a href="https://www.ttande.org/evaluation/uniserv_level1/form/default.asp?cid=853" style="color: #F00 !important;" target="_blank">form</a></strong></p>

</div>-->




<script type="text/javascript">
    jQuery(function ($) {
        $("#vertical").ejMenu({
            menuType: ej.menuType.NormalMenu,
            orientation: ej.orientation.Vertical,
            width: 223
            
        });
        
        $("#vertical li a[href*=#]:last-child ").css("color", "grey");
        //$("#vertical li:last-child a[href*=#]").css("color", "grey");
    });
</script>